<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Product Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
    <h1>Ну что могу сказать ой вей!</h1>
    <h2>Смешай по дозе табачок, <span th:text="${user.fullname}">NAME</span>!</h2>
    <img th:src="@{/images/Dimok.png}"/>

    <form method="POST" th:action="@{/logout}" id="logoutForm">
      <input type="submit" value="Logout"/>
    </form>

    <form th:method="POST" th:object="${product}" th:action="@{/design}" id="productForm">

    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}"
          th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
      <div class="ingredient-group" id="pack">
      <h3>Choose your pack:</h3>
      <div th:each="ingredient : ${pack}">
        <input th:field="*{ingredients}" type="checkbox"
               th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>

	  <div class="ingredient-group" id="mj">
      <h3>Pick your Mary Jane:</h3>
      <div th:each="ingredient : ${mj}">
        <input th:field="*{ingredients}" type="checkbox"
               th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>

	  <div class="ingredient-group" id="syrup">
      <h3>Choose your syrup:</h3>
      <div th:each="ingredient : ${syrup}">
        <input th:field="*{ingredients}" type="checkbox"
               th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>

	  <div class="ingredient-group" id="molly">
      <h3>Determine your molly:</h3>
      <div th:each="ingredient : ${molly}">
        <input th:field="*{ingredients}" type="checkbox"
               th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>

	  <div class="ingredient-group" id="perk">
      <h3>Select your perk:</h3>
      <div th:each="ingredient : ${perk}">
        <input th:field="*{ingredients}" type="checkbox"
               th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>
      </div>

      <div>


      <h3>Назови так, чтобы дымок окутал потолок:</h3>
      <input type="text" th:field="*{name}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error</span>
      <br/>

      <button>Submit with no cap</button>
      </div>
    </form>
  </body>
</html>
